#navbar-main.navbar-collapse.collapse
  ul.nav.navbar-nav
    li 
      a(href='/editUser') Hello, CurrentUser!!!!
    li 
      a(href='/logout') Log Out
    li 
      a(href='/about') About
    li 
      a(href='/contact') Contact
    li 
      a(href='/team') Team